.footer {
  background-color: var(--header-background-color);
    color: var(--header-text-color);
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}


